In [15]:
a=1
print(a)

1

In [5]:
a=1
b=a
a=2
print(a)
print(b)

2
1

In [6]:
a="""tongtszki is a a a a a a a a a bdsabdhbashdbhjbcjkbxzkjbuwbudbcjbauhuheuqhufdbuhfauihduhoqfubjabuhausdhubuivbubuifdiuc"""
print(a)

tongtszki is a a a a a a a a a bdsabdhbashdbhjbcjkbxzkjbuwbudbcjbauhuheuqhufdbuhfauihduhoqfubjabuhausdhubuivbubuifdiuc

In [14]:
a='0123456789abcdef'
print(a[0])
print(a[8])
print(a[:])
print(a[1:8:2])
print(a[6:-2])

0
8
0123456789abcdef
1357
6789abcd

In [16]:
a='hello world'
print(len(a))

11

In [42]:
a='hello world,i am tongtszki,123456789?'
b=a.split(',')
c=a.split(' ')
d=a.split()
print(b)
print(c)
print(d)

['hello world', 'i am tongtszki', '123456789?']
['hello', 'world,i', 'am', 'tongtszki,123456789?']
['hello', 'world,i', 'am', 'tongtszki,123456789?']

In [66]:
a=['apple','banana','orange']
b=[1,2,3,4,5]
c=['apple',1,2,3,['dog','cat']]
d=list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']

In [68]:
from pickle import TUPLE2
t=('apple','banana','orange','grap')
a,b,c,d=t
print(a)
print(b)
print(c)
print(d)

print(t[0])
print(t[1])
print(t[2])
print(t[3])

t1=('apple','banana','orange')
t2=('grap','abc')
t=t1+t2
print(t)

apple
banana
orange
grap
apple
banana
orange
grap
('apple', 'banana', 'orange', 'grap', 'abc')

In [70]:
a=dict(name='abc',age=99,eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'abc', 'age': 99, 'eat': ['apple', 'banana']}
<class 'dict'>

In [74]:
a=set()
b=set([1,2,3,4,5,6,7,8,9,])
c=set({'x':1,'y':2,'z':3})
d=set('hello')
print(a)
print(b)
print(c)
print(d)

set()
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'x', 'y', 'z'}
{'h', 'o', 'l', 'e'}

In [75]:
a=2
b=3
if a>b:
  print('hello')
print('ok')

ok

In [76]:
a=3
b=2
if a>b:
  print('hello')
print('ok')

hello
ok

In [77]:
a=2
b=3
if a>b:
  print('hello')
else:
  print('world')
print('ok')

world
ok

In [81]:
a=2
b=3
if a<b:
  if a==1:
    print('a=1')
  elif a==2:
    print('a=2')
  elif a==3:
    print('a=3')
elif a>b:
  print('a>b')
else:
  print('a=b')
print('ok')

a=2
ok

In [82]:
a=5
b=4
if a<b:
  if a==1:
    print('a=1')
  elif a==2:
    print('a=2')
  elif a==3:
    print('a=3')
elif a>b:
  print('a>b')
else:
  print('a=b')
print('ok')

a>b
ok

In [84]:
for i in 'abcdefghijkl':
  print(i)

a
b
c
d
e
f
g
h
i
j
k
l

In [86]:
for a in ['x','y','z','a','b','c']:
  for b in [1,2,3,4,5,6]:
    print(b)
  print(a)

1
2
3
4
5
6
x
1
2
3
4
5
6
y
1
2
3
4
5
6
z
1
2
3
4
5
6
a
1
2
3
4
5
6
b
1
2
3
4
5
6
c

In [87]:
for a in ['x','y','z','a','b','c']:
  for b in [1,2,3,4,5,6]:
    print(f'{a}{b}')

x1
x2
x3
x4
x5
x6
y1
y2
y3
y4
y5
y6
z1
z2
z3
z4
z5
z6
a1
a2
a3
a4
a5
a6
b1
b2
b3
b4
b5
b6
c1
c2
c3
c4
c5
c6

In [88]:
i = []
for t in range(10):
  t+=1
  i.append(t)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
try:
  a=input('aaa')
  print(a+1)
except:
  pass
print('hello')

aaaa\
hello

In [96]:
a=[]
for i in range(1,10):
  a.append(i*i)
print(a)

b=[j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]