In [15]:
a=1
print(a)

1

In [5]:
a=1
b=a
a=2
print(a)
print(b)

2
1

In [6]:
a="""tongtszki is a a a a a a a a a bdsabdhbashdbhjbcjkbxzkjbuwbudbcjbauhuheuqhufdbuhfauihduhoqfubjabuhausdhubuivbubuifdiuc"""
print(a)

tongtszki is a a a a a a a a a bdsabdhbashdbhjbcjkbxzkjbuwbudbcjbauhuheuqhufdbuhfauihduhoqfubjabuhausdhubuivbubuifdiuc

In [14]:
a='0123456789abcdef'
print(a[0])
print(a[8])
print(a[:])
print(a[1:8:2])
print(a[6:-2])

0
8
0123456789abcdef
1357
6789abcd

In [16]:
a='hello world'
print(len(a))

11

In [42]:
a='hello world,i am tongtszki,123456789?'
b=a.split(',')
c=a.split(' ')
d=a.split()
print(b)
print(c)
print(d)

['hello world', 'i am tongtszki', '123456789?']
['hello', 'world,i', 'am', 'tongtszki,123456789?']
['hello', 'world,i', 'am', 'tongtszki,123456789?']

In [66]:
a=['apple','banana','orange']
b=[1,2,3,4,5]
c=['apple',1,2,3,['dog','cat']]
d=list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']

In [68]:
from pickle import TUPLE2
t=('apple','banana','orange','grap')
a,b,c,d=t
print(a)
print(b)
print(c)
print(d)

print(t[0])
print(t[1])
print(t[2])
print(t[3])

t1=('apple','banana','orange')
t2=('grap','abc')
t=t1+t2
print(t)

apple
banana
orange
grap
apple
banana
orange
grap
('apple', 'banana', 'orange', 'grap', 'abc')

In [70]:
a=dict(name='abc',age=99,eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'abc', 'age': 99, 'eat': ['apple', 'banana']}
<class 'dict'>

In [74]:
a=set()
b=set([1,2,3,4,5,6,7,8,9,])
c=set({'x':1,'y':2,'z':3})
d=set('hello')
print(a)
print(b)
print(c)
print(d)

set()
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'x', 'y', 'z'}
{'h', 'o', 'l', 'e'}